

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@User.Identity.Name</span>
                        <span class="text-muted text-xs block">Title <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        @*<li>
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    </li>*@
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                            }
                        </li>


                    </ul>
                </div>
                <div class="logo-element">
                    TPS
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Accounting")">
                <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label" data-i18n="nav.forms">Accounting</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Accounting", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "CustomerManagement")"><a href="@Url.Action("CustomerManagement", "Accounting")">Customer Management</a></li>
                    <li class="@Html.IsSelected(action: "AccountManagement")"><a href="@Url.Action("AccountManagement", "Accounting")">Account Management</a></li>
                    <li class="@Html.IsSelected(action: "ReportingAnalytics")"><a href="@Url.Action("ReportingAnalytics", "Accounting")">Reporting & Analytics</a></li>
                    <li class="@Html.IsSelected(action: "InstantPay")"><a href="@Url.Action("InstantPay", "Accounting")">Instant Pay</a></li>
                    <li class="@Html.IsSelected(action: "PortalManagement")"><a href="@Url.Action("PortalManagement", "Accounting")">Portal Management</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Business", action: "Index")">
                <a href="@Url.Action("Index", "Business")"><i class="fa fa-line-chart"></i> <span class="nav-label">Business</span> </a>
            </li>
        </ul>
    </div>
</nav>